script-*.sh
*-script.sh
*.todo
issue-list.csv
/config/*.config44.json

*.bak
*.gho
*.ori
*.orig
*.tmp
*.crt
*.key
*.pem

# /dist/
# /data/
# /build

# Dependencies
/node_modules
.pnp/
.pnp.js

# Output of 'npm pack'
*.tgz

# Testing
/coverage

# Environment variable files
/.env
.env
.env.development
.env.test
.env.production
.env.local
*.env

# Output of 'npm pack'
*.tgz

# misc
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Syncfolders_Database_db
.DS_Store
[Dd]esktop.ini
*.lnk

# logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vitepress build and cache directory
.vitepress/cache
.vitepress/dist
